//variables

$background-color:wheat;
$text-color: #333;
$header-bg-color: #4caf50;
$header-text-color:#fff ;
$white-color: #ffffff;
$text-muted-color: #777;
$h3-font-size: 1.5em;
$header-font-size: 2.5em;
$border-color: #ccc;
$box-shadow-color: rgba(0,0,0,0.1);
$light-gray-bg-color: rgb(243, 242, 239);


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: $background-color;
    color: $text-color;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.app-header{
    text-align: center;
    margin: 20px 0px;
    background-color: $header-bg-color;
    color:$header-text-color;
    padding:20px 0px;
    border-radius: 8px;

    h1{
        margin: 0;
        font-size: $header-font-size;

    }

}

.dropdown-container{
    margin: 20px auto;
    max-width: 600px;
    text-align: center;

    .dcc-dropdown{
        width: 100%;

        select{
            padding: 10px;
            border-radius: 8px;
            font-size: 1em;
            border: 1px solid $border-color;
        }

    }

}

